<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="/">Home</a></li>
    <li><a href="/tasks">Tasks</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>